<!DOCTYPE html>
<html>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
<body style="background-color:#eee; margin:0; padding:40px 0; font-family: Poppins, Arial, sans-serif;">
  <div style="width: 100%; max-width: 600px; margin: 0 auto;">
    <span style="display: inline; justify-content: space-between;">
      <span style="margin-right: auto;">MNetwork Digest</span>
      <a href="https://network.maltion.com/"><img src="https://network.maltion.com/resources/logo.png" alt="MNetwork" style="width: 120px; height: 17px; margin-left: auto; aspect-ratio: 95 / 13;"></a>
    </span>
    <div style="background-color: #fff; width: calc(100% - 20px); border-radius: 10px; padding: 10px; margin-top: 32px; min-height: 10px; display: block;">
      <h3 style="margin: 10px auto;">Threads for you</h3>
      <a href="{{ post1href }}" style="text-decoration: none; color: #000;"><div style="border-color: #8883; border-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 10px;">
        <h6 style="margin: 0;">{{ post1username }}</h6>
        <span>{{ post1title }}</span>
        <p style="color: #888; font-size: 14px; margin: 0;">{{ post1content }}</p>
      </div></a>
      <a href="{{ post2href }}" style="text-decoration: none; color: #000;"><div style="border-color: #8883; border-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 10px;">
        <h6 style="margin: 0;">{{ post2username }}</h6>
        <span>{{ post2title }}</span>
        <p style="color: #888; font-size: 14px; margin: 0;">{{ post2content }}</p>
      </div></a>
      <a href="{{ post3href }}" style="text-decoration: none; color: #000;"><div style="border-color: #8883; border-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 10px;">
        <h6 style="margin: 0;">{{ post3username }}</h6>
        <span>{{ post3title }}</span>
        <p style="color: #888; font-size: 14px; margin: 0;">{{ post3content }}</p>
      </div></a>
    </div>

    <div style="background-color: #fff; width: calc(100% - 20px); border-radius: 10px; padding: 10px; margin-top: 32px; min-height: 10px; display: block;">
      <h3 style="margin: 10px auto;">Latest 3 notifications</h3>
      <a href="https://network.maltion.com/notifications" style="text-decoration: none; color: #000;"><div style="border-color: #8883; border-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 10px;">
        <span>{{ notify1 }}</span>
      </div></a>
      <a href="https://network.maltion.com/notifications" style="text-decoration: none; color: #000;"><div style="border-color: #8883; border-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 10px;">
        <span>{{ notify2 }}</span>
      </div></a>
      <a href="https://network.maltion.com/notifications" style="text-decoration: none; color: #000;"><div style="border-color: #8883; border-width: 1px; border-top-style: solid; border-bottom-style: solid; padding: 10px;">
        <span>{{ notify3 }}</span>
      </div></a>
    </div>
    <p style="width: calc(100% - 160px); padding: 0 80px; text-align: center; color: #888; font-size: 12px;">This is MNetwork's Daily email digest. A digest is a summary of things that have happened. If you wish to stop receiving emails like this every day, you can disable this on your Maltion account's settings.</p>
    <p style="width: 100%; text-align: center; color: #888; font-size: 12px;">© 2025 Maltion</p>
  </div>
</body>
</html>
